# Android Studio
*.iml
.idea/
.gradle/
local.properties

# Build output
/build/
*/build/
.cxx/
.externalNativeBuild/
captures/

# macOS / Windows
.DS_Store
Thumbs.db

# APKs e binários
*.apk
*.ap_

# Log files
*.log
